/*===========================================================================================================================    
                                                         FONTS    
============================================================================================================================*/
body {
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}
p {
}


/*=====================================================================================================================    	
                                                       RWD    
====================================================================================================================*/
@media(min-width:0px) and (max-width:320px) {
}

@media(min-width:321px) and (max-width:480px) {
}

@media(min-width:481px) and (max-width:768px) {
}

@media(min-width:769px) and (max-width:992px) {
}

@media(min-width:993px) and (max-width:1200px) {
}
